*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    background-color: #e2e7e6;
}

.navbar{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;

}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box2 */
.deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.india{
    color: #ffffff;
    font-size: 1rem;
    /* padding: 0px 0px 1px; */
    margin-left: 1px;
}

.maps{
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 40px;
    width: 620px;
    /* background-color: palevioletred; */
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 52px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;  /*occupy the extra space  */
    font-size: 1rem;
    border:none;
}
.search-icon{
    background-color: darkorange;
    width: 45px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #0f1111;
}

/* BOX4 */
.nav-lang{
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 .lang-type{
    font-size: 1rem;
    background-color: black;
    color: white;
    /* color: #0f1111; */
    border: none;
    font-weight: bolder;
}

/* box5 */
.nav-accounts{
    line-height: 16px;
}

/* box6 */
.nav-returns{
    width: 75px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
span{
    font-size: 12px;
}

.order{
    font-size: 14px;
    font-weight: bolder;
}

/* box7 */
.nav-cart{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icons{
    font-size: 2rem;
    height: 30px;
}

.cart{
    font-weight: bolder;
    align-self: flex-end;
    font-size: 0.85rem;
}

/* panel box  */
.panel{
    height: 40px;
    /* width: 60px; */
    background-color: #222f3d;
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

/* panel box1 */
.panel-all{
    width: 10%;
}

.panel-option{
    width: 70%;
    font-size: 0.8rem;
}
.panel-option a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: bold;
}

/* hero-section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 300px;
    background-size: cover;
    /* width: 100%; */
     display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    height: 40px;
    background-color: white;
    width: 90%;
    font-size: 0.85rem;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-msg a{
    text-decoration: none;
    color: #007185;
}

/* shop-section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;

}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-image{
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content p{
    color: #007185;
}

/* footer  panel 1*/

footer{
    margin-top: 15px;
}

.footer-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

/* footer-panel2  */
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 25px;
}
ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}

ul a:hover{
    text-decoration: underline;
}

/* footer-panel 3 */
.footer-panel3{
    background-color: #222f3d;
    border-top: 0.2px solid #e2e7e6;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-3-logo{
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

/* footer panel 4  */
.footer-panel4{
    background-color: #0f1111;
    height: 80px;
    color: #dddddd;
    text-align: center;
    font-size: 0.85rem;
}
.pages{
    padding-top: 20px;
}
.pages a{
    color: #dddddd;
    text-decoration: none;
    margin-left: 15px;
}

.pages a:hover{
    text-decoration: underline;
}

.copyright{
    padding-top: 7px;
}